aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx[http2]
motor
pillow
psutil
pytgcall
pykeyboard
pyrofork
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
youtube-search
py-yt-search
